.bar1
{
	font-family : Comic Sans MS;
	font-size:25px;
	color:red;
}

.linkcolor
{
	color:red;
}

.ssn
{
	color:red;
	font-size:25px;
	font-family:Comic Sans MS; 
}

.style5
{
	color:#23608B;
	font-size:25px;
	font-family:Comic Sans MS;
}